<div>
<form class ="bg-secondary border">
  <div class="form-group d-flex justify-content-center ">
    <label class="w-25 text-right mr-3" for="exampleInputEmail1">Your E-mail</label>
    <input type="email" class="form-control w-75" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group d-flex">
    <label class="w-25 text-right mr-3" for="exampleInputPassword1">Your message</label>
    <input type="password" class="form-control w-75" id="exampleInputPassword1" rows="5">
  </div>
  <div class="text-right">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
