<!-- your html code here -->
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="display-4">
                <span>This first heading</span>&nbsp<span class="text-secondary">will catch your eye</span>
            </h1>
            <p class="lead">
                Hello this is the second jumbotron created by Pedro
            </P>
        </div>
        <div class="col-auto">
            <img src="https://i.redd.it/ehjqj4vz7nk41.jpg" alt="w" id="first-image" class="rounded float-right img-fluid">
        </div>
        
    </div>
</div>




