    <div class="container my-4 py-4">
        <div class="h3">Portfolio</div> 
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Nunc sed velit dignissim sodales ut eu 
        sem integer vitae. Consequat ac felis donec et odio pellentesque diam volutpat commodo. 
        Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Quisque sagittis purus 
        sit amet volutpat. Nisi porta lorem mollis aliquam ut porttitor leo a diam. 
        Eleifend quam adipiscing vitae proin.</p>
        <div class="container d-flex w-100">
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        </div>
    </div>