<!-- your html code here -->

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="display-4">
                <p>The seconnd heading</p>&nbsp<p class="text-secondary">is pretty cool also</p>
            </h1>
            <p class="lead">
                Hello this is the second jumbotron created by Pedro
            </P>
        </div>
        <div class="col-auto">
            <img src="https://c.pxhere.com/photos/43/a3/laptop_human_hands_keyboard_typing_working_business_office_writing-714530.jpg!d" alt="h" class="rounded float-left img-fluid">
        </div>
    </div>
  </div>
</div>
